body {
    font-family: sans-serif;
    background-color: #b8d8d8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    color: #4f6367;
}

.app {
    width: 300px;
    height: 500px;
    border: 5px solid #4f6367;
    border-radius: 8px;
    padding: 15px;
    background-color: #eef5db;
    overflow-y: scroll;
}

.app::-webkit-scrollbar {
    width: 0 !important
}

#addNew {
    display: flex;
    background-color: #b8d8d8;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-plus {
    background-color: #4f6367;
    padding: 3px;
    border-radius: 5px;
}

#tasks {
    display: grid;
    gap: 14px;
}

#tasks div {
    background-color: #e2eede;
    border: 3px solid #abcea1;
    padding: 5px;
    border-radius: 6px;
    display: grid;
    gap: 4px;
}

.options {
    justify-self: center;
    display: flex;
    gap: 20px;
}

.options i {
    cursor: pointer;
}

#msg {
    color: red;
}